<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand"  href="home.jsp">Incidentes Criminales</a>
       </div>
       <ul class="nav nav-pills">
          <li  class="active"><a href="home.jsp">  Inicio </a></li>
          <li><a href="incidente.jsp">  Incidente</a></li>
          <li><a href="reportes.jsp">  Reportes </a></li>
           <li><a href="consulta.jsp"> Consulta </a></li>
          <li><a href="invalidate">  Salir </a></li>
       </ul>
     </div>
  </nav>   
</header>